<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>



<!-- <li class="list-group-item">
      <%#= cocktail.content %>
      <%#= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
    </li> -->


